* {
    font-family: "Ubuntu", "Open Sans", "Sans";
    font-size: 13pt;
    line-height: 1.4;
}

@media all and (max-width: 600px) {
    font-size: 1.0vw;
}

body {
    margin: auto;
    max-width: 600pt;
    padding: 10pt;
}

a {
    color: #01008a;
}

h1 {
  font-size: 140%;
}

.rss.entry {
  margin: 5pt;
  padding: 5pt;
  background-color: lightgrey;
}

.rss.author, .rss.published, footer {
  text-align: right;
  font-size: 80%;
}

nav {
  overflow: hidden;
  background-color:grey;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

nav a:hover {
  background-color:black;
}
