{% macro render_entry(entry) %}
    <div class="rss entry">
        <h3>{{entry.title}}</h3>
        <div class="rss author">{{entry.author}}</div>
        <div class="rss published">{{entry.published[:22]}}</div>
        {{entry.summary}}
    </div>
{% endmacro %}


{% macro render_entry_link(entry) %}
    <a href="{{entry.path}}">{{entry.title}}</a>
{% endmacro %}


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans|Sans">
        <link rel="stylesheet" href="rss2html.css">
        <title>{{feed.title}}</title>
    </head>
    <body>
        <h1 class="rss">{{feed.title}}</h2>
        <nav>
        <a href="index.html">Home</a>
        {% for page in feed.pages %}
            {{ render_entry_link(page) }}
        {% endfor %}
        <a href="tags.html">Tags</a>
        <a href="authors.html">Authors</a>
        <a href="archive.html">Archive</a>
        </nav>
        <p class="rss subtitle">{{feed.subtitle}}<p>
        {% block content %}{% endblock content %}
        <footer class="rss">
            &copy;<script>document.write(new Date().getFullYear())</script> 
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
            [<a href="http://validator.w3.org/check?uri=referer">validate</a>]
        </footer>
    </body>
</html>
