{% extends "base.jinja2" %}

{% block content %}
{% for label, entries in items %}
    <h3>{{label}}</h3>
    <ul>
        {% for entry in entries %}
            <li>{{ render_entry_link(entry) }}</li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock content %}
