{% extends "base.jinja2" %}

{% block content %}
{% for label, entries in items %}
    <h3>{{label}}</h3>
    {% for entry in entries %}
        <li>{{ render_entry_link(entry) }}</li>
    {% endfor %}
{% endfor %}
{% endblock content %}
